@font-face {
	font-family: 'Comic CAT';
	src: local('Comic CAT'),
		url('../resources/ComicCAT.otf');
}

* {
	margin: 0;
	padding: 0;

	font-family: 'Comic CAT';
}

.back-container {
	width: 300px;
	padding: 10px;

	background-color: rgb(204, 204, 255);
	cursor: pointer;

	border-style: none solid solid none;
	border-color: black;
	border-width: 2px;
	border-radius: 0 0 10px 10px;
}

.logout {
	margin: 10px 10px 0 10px;
	padding: 10px;

	background-color: rgb(204, 204, 255);
	cursor: pointer;
	border-style: solid;
	border-color: red;
	border-width: 1px 3px 3px 1px;
	border-radius: 10px;
}
