@font-face {
	font-family: 'IBM Plex';
	src: local('IBM Plex'),
		url('../resources/IBMPlexSans-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-family: 'IBM Plex';
	background-color: rgb(204, 204, 255);
}

h1 {
	margin: 20px 0 0 0;

	text-align: center;
	font-size: 40px;
}

h2 {
	margin: 20px 60px 0 30px;

	text-align: justify;
	font-size: 27px;
}

p {
	margin: 10px 60px 0 60px;

	text-align: justify;
	font-size: 20px;
}

.bottom {
	margin-bottom: 40px;
}

ul {
	margin: 10px 120px 0 120px;

	text-align: justify;
	font-size: 20px;
}