@font-face {
	font-family: 'Comic CAT';
	src: local('Comic CAT'),
		url('../resources/ComicCAT.otf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;

	font-family: "Comic CAT";

	background-image: url('../resources/bg-light.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: 0px 0px;
}

.back-container {
	padding: 10px;
	border-radius: 0 0 10px 0;
	background-color: rgb(204, 204, 255);
	display: inline-block;
	cursor: pointer;
}

.back {
	font-size: 40px;
	user-select: none;
}

.login-wrapper {
	width: 100%;
	margin-top: 30vw;
	text-align: center;
}

#login-box {
	padding: 20px;
	display: inline-block;

	background-color: rgb(204, 204, 255);
	text-align: center;

	border-radius: 20px;
	border-style: none solid solid none;
	border-color: black;
}

.login-heading {
	margin-bottom: 20px;
	font-size: 70px;
}

.login-input {
	width: 80%;

	margin-bottom: 15px;
	padding: 5px 0 5px 10px;

	font-family: 'Comic CAT';
	font-size: 50px;
	text-align: center;
	
	background-color: rgb(220, 255, 255);
	border-style: none none solid none;
	border-color: rgb(255, 0, 0);
	border-radius: 10px;
	border-width: 5px;

	transition: border-color 1s linear;
}

.login-button {
	margin: 10px 0 20px 0;
	padding: 5px;

	font-family: 'Comic CAT';
	font-size: 30px;
	
	border-style: none solid solid none;
	border-color: black;
	border-radius: 5px;
}
