* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	overflow: hidden;
}

hr {
	margin: 10px 0 10px 0;
}

.menu {
	padding: 20px;
	position: absolute;
	width: 100%;
}

#canvas {
	position: absolute;
}

.left-block, .center-block, .right-block {
	height: 100%;
}

.left-block, .right-block {
	width: 33%;
}

.left-block {
	float: left;
}

.center-block {
	width: 32%;
	margin-left: 35%;
}

.right-container {
	margin-left: 67%;
	float: right;
}

.settings {
	text-align: center;
	padding: 10px 0 10px 0;
	border-radius: 10px;
	border-color: black;
	border-right-style: solid;
	border-bottom-style: solid;
	background-color: white;
}

.ui {
	text-align: center;
	padding: 10px 0 10px 0;
	border-radius: 10px;
	border-color: black;
	border-right-style: solid;
	border-bottom-style: solid;
	background-color: white;
}

.ui-button {
	cursor: pointer;
	user-select: none;
}